---
import { Image } from "astro:assets";
import Comments from "../components/Comments.astro";
import Layout from "../layouts/Layout.astro";
import {
  getImageUrlById,
  getAllPostsIds,
  getPostsArray,
  getPostsArrayFromCategory,
} from "../scripts/scripts.js";
import Article from "../components/Article.astro";
import { WORDPRESS_REST_API_URL } from "astro:env/client";

export async function getStaticPaths() {
  var postsIds = await getAllPostsIds(WORDPRESS_REST_API_URL);

  return Promise.all(
    postsIds.map(async (id) => {
      const response = await fetch(
        `${WORDPRESS_REST_API_URL}wp-json/wp/v2/posts/${id}`
      );
      const postJson = await response.json();
      const post = {
        photoUrl: getImageUrlById(id,WORDPRESS_REST_API_URL),
        categories: postJson.categories,
        title: postJson.title.rendered,
        content: postJson.content.rendered,
      };

      const slug = postJson.slug;
      const relatedPosts = await getPostsArrayFromCategory(
        postJson.categories,
        WORDPRESS_REST_API_URL,
        2,
        id
      );

      return {
        params: { slug },
        props: { id, post, relatedPosts },
      };
    })
  );
}

const { id,post, relatedPosts } = Astro.props;
---

<Layout metaDescription={post.title} title={post.title}>
  <article
    data-pagefind-body
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-4xl flex-col my-8 bg-[#354eaf] shadow-2xl text-[#faf9f5] font-[roboto] px-10 pt-10 pb-5 max-sm:px-7.5 max-sm:pt-7.5 max-sm:pb-2.5"
  >
    <Image
      loading="lazy"
      class="aspect-3/2 object-cover ... rounded-lg w-full"
      src={post.photoUrl}
      alt={post.title}
      width="2000"
      height="1125"
    />

    <div style="" class="slug max-w-250 w-[95%] my-5">
      <h1
        data-pagefind-meta={post.title}
        class="my-8 text-4xl max-sm:text-3xl font-semibold tracking-wide font-[gugi] max-w-full break-words"
      >
        {post.title}
      </h1>
      <p set:html={post.content} />
    </div>
  </article>
  <Comments inputPostId={id} />

  <div
    data-pagefind-ignore
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-3xl flex-col my-8 text-[#354eaf]"
  >
    <div class="max-w-270 w-[100%] flex flex-col items-center">
      <div class="bg-[#354eaf] py-6 px-6 rounded-2xl mb-8"><h1
        class=" text-4xl max-sm:text-3xl gap-20 font-normal font-[gugi] text-[#faf9f5]"
      >
        Related posts
      </h1></div>

      
      <div class="w-[100%] flex gap-10 flex-wrap justify-center items-center">
        {
          relatedPosts.map((post) => {
            return (
              <Article
                photoUrl={post.photoUrl}
                title={post.title}
                content={post.content}
                slug={post.slug}
              />
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .slug {
    font-size: 1.2rem;
  }

  .slug h3 {
    font-family: "gugi";
    margin-top: 2rem;
    font-size: 1.5em;
    margin-bottom: 0.4rem;
    letter-spacing: 0.15rem;
  }

  .slug h2 {
    font-size: 1.2em;
  }

  .slug strong {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .slug hr{
    margin-top: 1rem;
    margin-bottom: 1rem;

  }

  @media (width < 40rem) {
    .slug {
      font-size: 1rem;
    }

    .slug h3 {
      font-size: 1.3rem;
    }
  }
</style>
