---
import {
  getPostsArray,
  makePageNumbersArray,
  getPagePostsArray,
} from "../scripts/scripts.js";

import Layout from "../layouts/Layout.astro";

import SearchBar from "../components/SearchBar.astro";
import Article from "../components/Article.astro";
import PrevButton from "../components/PrevButton.astro";
import NextButton from "../components/NextButton.astro";

type propertys = {
  slug: string;
  photoUrl: string;
  title: string;
  content: string;
};

export async function getStaticPaths() {
  const paginationPagesNames = await makePageNumbersArray(
    "http://whellworks.local",6
  );

  var postsForPage:[] = [];
  for (let i=1; i<=paginationPagesNames.length;i++){
    //@ts-ignore
    postsForPage.push(await getPagePostsArray(6,i,"http://whellworks.local"));
  }

  return paginationPagesNames.map(({ page }) => {
    const posts = postsForPage[page-1];
    return { params: { page }, props: { posts } };
  });
}

const {posts}= Astro.props;
---

<Layout>
  <SearchBar />
  <div class="mx-auto my-10 w-full flex justify-center flex-wrap gap-10">
    {
      //@ts-ignore
      posts.map((post: propertys) => (
        <Article
          slug={post.slug}
          photoUrl={post.photoUrl}
          title={post.title}
          content={post.content}
        />
      ))
    }
  </div>
  <div class="mx-auto w-full flex justify-center mb-5 gap-5">
    <!-- <PrevButton inputHref={generatePrevUrl()} /> -->
    <!-- <NextButton class="nextButton" /> -->
    <!-- <button class="prevPage">prev</button>
    <button class="nextPage">next</button> -->
  </div>
</Layout>

<!-- <script>
  var currentPage = 1;

  const nextButton = document.querySelectorAll("button.nextPage");
  const prevButton = document.querySelectorAll("button.prevPage");

  nextButton.forEach((button) => {
    button.addEventListener("click", () => {
      currentPage++;
      alert("test" + currentPage);
    });
  });

  prevButton.forEach((button) => {
    button.addEventListener("click", () => {
      if (currentPage > 1) {
        currentPage--;
        alert("test" + currentPage);
      }
    });
  });
</script> -->
