---
import { Image } from "astro:assets";
import Comments from "../components/Comments.astro";
import Layout from "../layouts/Layout.astro";
import {
  getImageUrlById,
  getAllPostsIds,
  getPostsArrayFromCategory,
} from "../scripts/scripts.js";
import Article from "../components/Article.astro";
import { WORDPRESS_REST_API_URL } from "astro:env/client";

export async function getStaticPaths() {
  var postsIds = await getAllPostsIds(WORDPRESS_REST_API_URL);

  return Promise.all(
    postsIds.map(async (id) => {
      const response = await fetch(
        `${WORDPRESS_REST_API_URL}wp-json/wp/v2/posts/${id}`
      );
      const postJson = await response.json();
      const post = {

        photoUrl: getImageUrlById(id, WORDPRESS_REST_API_URL),
        categories: postJson.categories,
        title: postJson.title.rendered,
        content: postJson.content.rendered,
      };

      const slug = postJson.slug;
      const relatedPosts = await getPostsArrayFromCategory(
        postJson.categories,
        WORDPRESS_REST_API_URL,
        2,
        id
      );

      return {
        params: { slug },
        props: { id, post, relatedPosts },
      };
    })
  );
}

const { id, post, relatedPosts } = Astro.props;
---

<Layout metaDescription={post.title} title={post.title} id={id}>
  <article
    data-pagefind-body
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-4xl flex-col my-8 bg-[#354eaf] shadow-2xl text-[#faf9f5] font-[roboto]"
  >
    <div class="m-5 w-[calc(100%-2.5rem)]">
      <Image
        loading="lazy"
        class="aspect-3/2 object-cover ... rounded-3xl w-full shadow-2xl"
        src={post.photoUrl}
        alt={post.title}
        width="2000"
        height="1125"
      />
    </div>

    <div class="slug mx-8 w-[calc(100%-4rem)] mb-4">
      <h1
        data-pagefind-meta="title"
        class="my-4 text-4xl max-sm:text-3xl font-normal tracking-wide font-[bungee] max-w-full break-words"
      >
        {post.title}
      </h1>
      <p set:html={post.content} />
    </div>
  </article>
  <Comments inputPostId={id} />

  <div
    data-pagefind-ignore
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-3xl flex-col my-8 text-[#354eaf]"
  >
    <div class="max-w-270 w-[100%] flex flex-col items-center">
      <h1
        class="text-4xl max-sm:text-3xl gap-20 font-normal mt-2 mb-10 font-[bungee] text-[#354eaf]"
      >
        Related posts
      </h1>

      <div class="w-[100%] flex gap-10 flex-wrap justify-center items-center">
        {
          relatedPosts.map((post) => {
            return (
              <Article
                photoUrl={post.photoUrl}
                title={post.title}
                content={post.content}
                slug={post.slug}
              />
            );
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .slug {
    font-size: 1.2rem;
  }

  .slug h3 {
    font-family: "bungee";
    margin-top: 2rem;
    font-size: 1.5em;
    margin-bottom: 0.4rem;
    letter-spacing: 0.15rem;
  }

  .slug h2 {
    font-size: 1.2em;
  }

  .slug strong {
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  .slug hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  @media (width < 40rem) {
    .slug {
      font-size: 1rem;
    }

    .slug h3 {
      font-size: 1.3rem;
    }
  }
</style>
