---
import Layout from "../layouts/Layout.astro";
import {
  getPostsArray,
  getPostsArrayFromCategory,
} from "../scripts/scripts.js";
import Article from "../components/Article.astro";
import { WORDPRESS_REST_API_URL } from "astro:env/client";

export async function getStaticPaths() {
  var posts = await getPostsArray(WORDPRESS_REST_API_URL);

  return Promise.all(
    posts.map(async ({ slug, categories, photoUrl, title, content }) => {
      const relatedPosts = await getPostsArrayFromCategory(
        categories,
        WORDPRESS_REST_API_URL,
        2
      );
      return {
        params: { slug },
        props: { photoUrl, title, content, relatedPosts },
      };
    })
  );
}

const { photoUrl, title, content, relatedPosts } = Astro.props;
---

<Layout>
  <div
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-4xl flex-col my-8 bg-[#416745] shadow-2xl text-[#e6e5d8] p-10"
  >
    <img
      class="aspect-3/2 object-cover w-[100%] rounded-3xl shadow-2xl"
      src={photoUrl}
    />
    <div style="" class="slug max-w-250 w-[95%] my-5">
      <h1 class="my-8 text-4xl font-bold tracking-tight font-[bungee]">
        {title}
      </h1>
      <p set:html={content} /></p>
    </div>
  </div>
  <div
    class="w-[95%] mx-auto max-w-270 flex justify-center items-center rounded-3xl flex-col my-8  text-[#416745]"
  >
    <div class="max-w-270 w-[100%] flex flex-col items-center">
      <h1 class="my-8 text-4xl gap-20 font-normal font-[bungee]">
        Related posts
      </h1>
      <div class="w-[100%] flex gap-10 flex-wrap justify-center items-center">
        {
          relatedPosts.map((post) => {
            return <Article photoUrl={post.photoUrl} title={post.title} content={post.content} slug={post.slug}
            />;
          })
        }
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  .slug {
    font-size: 1.2rem;
  }

  .slug h3 {
    font-family: "bungee";
    margin-top: 2rem;
    font-size: 1.5em;
    margin-bottom: 0.4rem;
  }

  .slug h2 {
    font-size: 1.2em;
  }
</style>
