---
import Article from "./Article.astro";
import { getPostsArray } from "../scripts/getPostsArray.js";
import { getPostsArrayFromCategory } from "../scripts/getPostsFromCategory";

type propertys = {
  slug: string;
  photoUrl: string;
  title: string;
  content: string;
};

const {categoryId} =Astro.props;


if(categoryId){
  var items = await getPostsArrayFromCategory(categoryId,"http://whellworks.local/");
}else{
  var items = await getPostsArray("http://whellworks.local/");
}
---

<body>
  <h1>{categoryId}</h1>
  <div class="container mx-auto">
    {
      items.map((item: propertys) => (
        <Article
          slug ={item.slug}
          photoUrl ={item.photoUrl}
          title={item.title}
          content={item.content}
        />
      ))
    }
  </div>
</body>
<style>
  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
</style>
