---
import "/src/styles/global.css";
import Header from "../components/Header.astro";
import MyFooter from "../components/MyFooter.astro";
import "@fontsource/gugi";
import "@fontsource/roboto";
import "@fontsource/bungee";
import { getImageUrlById } from "../scripts/scripts.js";
import { WORDPRESS_REST_API_URL } from "astro:env/client";

const placeholder =
  "https://opengraph.b-cdn.net/production/images/abdded22-9593-4c4f-8c8b-fe1bce6cfb46.png?token=LhQIbTJvXXEMMFFDdBdbcT6ZAYf8xfPQAnkZ6SPi2oU&height=600&width=900&expires=33278823799";

const {
  metaDescription = "Blog about IT, apps development and ERP systems.",
  title = "App-Factory",
  id,
} = Astro.props;

const photoUrl = id
  ? await getImageUrlById(id, WORDPRESS_REST_API_URL)
  : placeholder;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <meta name="description" content={metaDescription} /><link
      rel="sitemap"
      href="/sitemap-index.xml"
    /><meta name="generator" content={Astro.generator} /><script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-D8HK0WSG4V"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-D8HK0WSG4V");
    </script>

    <!-- HTML Meta Tags -->
    <title>App-Factory</title>
    <meta
      name="description"
      content="Blog about IT, apps development and ERP systems."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://app-factory.netlify.app" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="App-Factory" />
    <meta property="og:description" content={metaDescription} />
    <meta property="og:image" content={photoUrl} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="app-factory.netlify.app" />
    <meta property="twitter:url" content="https://app-factory.netlify.app" />
    <meta name="twitter:title" content="App-Factory" />
    <meta name="twitter:description" content={metaDescription} />
    <meta name="twitter:image" content={photoUrl} />

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
  </head>

  <body class="bg-[#faf9f5] w-full flex flex-col min-h-screen">
    <Header />
    <div>
      <div class="">
        <slot />
      </div>
    </div>
    <MyFooter />
  </body>
  <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
</html>
