---
import "/src/styles/global.css";
import Header from "../components/Header.astro";
import MyFooter from "../components/MyFooter.astro";
import "@fontsource/gugi";
import "@fontsource/roboto";
import "@fontsource/bungee";
import { OgImage } from "astro-opengraph-image/components";
import { SEO } from 'astro-seo';
import { getImageUrlById } from "../scripts/scripts.js";
import { WORDPRESS_REST_API_URL } from "astro:env/client";

const placeholder =
  "https://opengraph.b-cdn.net/production/images/abdded22-9593-4c4f-8c8b-fe1bce6cfb46.png?token=LhQIbTJvXXEMMFFDdBdbcT6ZAYf8xfPQAnkZ6SPi2oU&height=600&width=900&expires=33278823799";

const {
  metaDescription = "Blog about IT, apps development and ERP systems.",
  title = "App-Factory",
  id,
  description = "Blog about IT, apps development and ERP systems.",
} = Astro.props;

function shortText(inputText: string, maxLength: number) {
  if (inputText.length <= maxLength) {
    return inputText;
  } else {
    return `${inputText
      .replace(/&#8220;/g, '"')
      .replace(/&#8221;/g, '"')
      .replace(/&#8212;/g, '"')
      .replace(/&#8211;/g, '"')
      .replace(/<[^>]*>/g, "")
      .substring(0, maxLength)}...`;
  }
}

const descriptionToGraph = shortText(description, 280);
const titleToGraph = shortText(title, 50);

const photoUrl = id
  ? await getImageUrlById(id, WORDPRESS_REST_API_URL)
  : placeholder;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      rel="sitemap"
      href="/sitemap-index.xml"
    /><meta name="generator" content={Astro.generator} /><script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-D8HK0WSG4V"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-D8HK0WSG4V");
    </script>

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={metaDescription} />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content="App-factory" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.site} />
    <OgImage>
      <div
        class="flex flex-col bg-[#191819] font-bold justify-between h-full w-full"
      >
        <div
          class="flex justify-center items-center shadow-blue-500 px-3 h-[30%] text-white text-[1.25rem] text-bold"
        >
          <p class="">{titleToGraph}</p>
        </div>
        <div class="flex justify-center items-center h-[70%] text-white text-[0.75rem] px-7 py-4">
          <p>{descriptionToGraph}</p>
        </div>
      </div>
    </OgImage>

    <meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="app-factory.netlify.app">
<meta property="twitter:url" content="https://app-factory.netlify.app/">
<meta name="twitter:title" content="App-Factory">
<meta name="twitter:description" content={metaDescription}>
  </head>

  <body class="bg-[#faf9f5] w-full flex flex-col min-h-screen">
    <Header />
    <div class="">
      <slot />
    </div>
    <MyFooter />
  </body><script src="../../node_modules/flowbite/dist/flowbite.min.js"
  ></script>
</html>
